@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(0,42,113);
  background: radial-gradient(circle, rgba(0,42,113,1) 0%, rgba(0,0,0,1) 53%);
  background-repeat: no-repeat;
 
}
::-webkit-scrollbar {
  background: white;
  width: 5px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: rgb(19, 117, 255);
}

.text{
  background: -webkit-linear-gradient(#a8d6ff, #688ba5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
